name: Deploy Backend to Azure App Services

on:
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    
    permissions:
      contents: read
      id-token: write

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Install backend dependencies
      working-directory: ./backend
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    # Prepare ZIP for Azure
    - name: Create deployment package
      run: |
        cd backend
        zip -r ../backend.zip .

    # Login to Azure
    - name: Azure Login
      uses: azure/login@v2
      with:
        client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_6BB6A18D4177408F84C3E962F99101E0 }}
        tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_35F009FEBDF0489DA9743E0F308862CD }}
        subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_2AA06847B4D845319632B0370638F5F3 }}

    # Deploy the zipped backend
    - name: Deploy to Azure Web App
      uses: azure/webapps-deploy@v3
      with:
        app-name: 'ny-civicsphere'
        slot-name: 'Production'
        package: backend.zip
